.listScroll {
    max-height: 670px;
    overflow-y: scroll;
    min-height: 100px;
}

ul.c li {
    list-style-image:url('../../images/bullet.svg')
}

ul.c li:first-child {
    list-style: none;
}


ul.c li:last-child {
    list-style: none;
}

.buttonFooter {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}