.container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "feed-header feed-header"
      "feed-list feed-statistics";
  }
  
  .feedHeader { grid-area: feed-header; }
  
  .feedList { grid-area: feed-list; }
  
  .feedStatistics { grid-area: feed-statistics; }

.feedList > div {
  height: 900px;
  overflow-x: auto;
}