.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: fit-content;
    min-height: 250px;
    padding: 2rem;
    top: 150px;
    background-color: rgb(28, 28, 33);
    border-radius: 15px;
    z-index: 9999;
  }

  .closeButton {
    position: absolute;
    width: 70px;
    height: 86px;
    padding: 0;
    margin: 0;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
    background: none;
    color: rgba(149, 149, 154, 0.6);
    font-size: larger;
  }
  
  .closeButton:hover {
    color: rgb(0, 0, 0, 1);
  }