.imageStack {
    position: relative;
    padding-top: 10px;
    height: 70px;
}

.img0 {
    position: absolute;
    top: 5;
    left: -20px;
    z-index: 23;
}

span.img0 {
    position: absolute;
    top: 5px;
    left: 11px;
    z-index: 10;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border-color: black;
    border: 3px solid rgb(74, 51, 238);
    background-color: black;
    z-index: 22;
}



.img1 {
    position: absolute;
    top: 5px;
    left: 30px;
    z-index: 21;
}

span.img1 {
    position: absolute;
    top: 5px;
    left: 61px;
    z-index: 10;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border-color: black;
    border: 3px solid rgb(74, 51, 238);
    background-color: black;
    z-index: 20;
}

.img2 {
    position: absolute;
    top: 5px;
    left: 80px;
    z-index: 19;
}

span.img2 {
    position: absolute;
    top: 5px;
    left: 111px;
    z-index: 10;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border-color: black;
    border: 3px solid rgb(74, 51, 238);
    background-color: black;
    z-index: 18;
}



.img3 {
    position: absolute;
    top: 5px;
    left: 120px;
    z-index: 17;
}

span.img3 {
    position: absolute;
    top: 5px;
    left: 151px;
    z-index: 10;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border-color: black;
    border: 3px solid rgb(74, 51, 238);
    background-color: black;
    z-index: 16;
}

.img4 {
    position: absolute;
    top: 5px;
    left: 170px;
    z-index: 15;
}

span.img4 {
    position: absolute;
    top: 5px;
    left: 201px;
    z-index: 14;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border-color: black;
    border: 3px solid rgb(74, 51, 238);
    background-color: black;
    z-index: 14;
}

.img5 {
    position: absolute;
    top: 5px;
    left: 220px;
    z-index: 13;
 }

span.img5 {
    position: absolute;
    top: 5px;
    left: 251px;
    z-index: 10;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border-color: black;
    border: 3px solid rgb(74, 51, 238);
    background-color: black;
    z-index: 12;
}

.txt {
    position: absolute;
    top: 5px;
    left: 251px;
    z-index: 10;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border-color: black;
    border: 3px solid rgb(74, 51, 238);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 13;
}

.txt2 {
    position: absolute;
    top: 5px;
    left: 251px;
    z-index: 10;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border-color: black;
    border: 3px solid rgba(74, 51, 238, 0);
    background-color: rgba(0, 0, 0, 0);
    z-index: 30;
}

.sumAndIcon {
    position: absolute;
    top: 17px;
    right: 0px;
}
