.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 28, 33);
}

.logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}